<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="tweets-container">
<div class="sss">
<h70>歩いてみよう!</h70>
<br><h71>ドコカラハジメル？</h71>
</div>


<div class="title-containero">
 
   <div class="titleo">
      <ho1><%= link_to "おみくじをひく", maps_path %><ho1>
   </div>
  
</div>

<div class="ushiro">
  
</div>

</div>
