<h1>高輪ゲートウェイ</h1>
<% @tweets.each do |t| %>
    <% if t.category == "takanawagateway" %>  
    <p>内容:<%= t.name %></p>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <% end %>
  <% end %>